go 1.26.0

toolchain go1.26.2

use (
	.
	./agent
	./auth
	./authz
	./bench
	./bench/storage
	./cache
	./cache/redis
	./connect
	./connect/testutil
	./dag/testutil
	./database
	./database/sqlite
	./database/testutil
	./discovery
	./discovery/testutil
	./embedding
	./explain
	./grpc
	./httpclient
	./llm
	./llm/providers
	./mcp
	./messaging
	./messaging/kafka
	./messaging/nats
	./messaging/rabbitmq
	./schema
	./server
	./server/testutil
	./stateful
	./storage
	./storage/s3
	./storage/testutil
	./testutil
	./tool
	./vectorstore
	./workload
	./workload/testutil
)
